//change min-width to a larger value in order to just display two items per row

.homepage {
  min-width: 30%;
  height: 600px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
  
  
  .homepage-background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    height: 350px;
    width: 90%;
    padding: 0px 25px;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: rgba(0,0,0,.5);
    position: absolute;

  }
  .title {
      font-family: 'Rajdhani', sans-serif;
      font-weight: bold;
      text-align: center;
      margin-bottom: 6px;
      font-size:40px;
      color:rgba(255,255,255,.8);
      padding-top: 50px
      
  }

  
  .explore-button {
    position: absolute;
    left: 55%;
    top: 50%;
    height: 75px;
    width: 300px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    background-color: rgba(0,0,0, 0);
    color: rgba(255,255,255,.8);
    border: 1px dotted white; 
    font-size: 24px;
   
    
    &:hover {
      cursor: pointer;
    
      & .background-image {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    
      & .content {
        opacity: 0.9;
      }
    }  
  }

  .learn-more {
    position: absolute;
    left: 18%;
    top: 50%;
    height: 75px;
    width: 300px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    background-color: rgba(0,0,0, 0);
    color: rgba(255,255,255,.8);
    border: 1px dotted white; 
    font-size: 24px;
   
    
    &:hover {
      cursor: pointer;
    
      & .background-image {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    
      & .content {
        opacity: 0.9;
      }
    }  
  }




  
}

  